.dashboard {
    width: 100%;
    color: #414141;
}

.btn.btn-link {
    margin-right: 10px;
}

thead td {
    font-weight: 600;
    padding-right: 25px;
}

td {
    width: 20%;
    border-bottom: 1px solid #acacac;
    margin-bottom: 5px;
    padding: 8px;

    &:first-child {
        width: 5%;
    }

    &:last-child {
        width: 25%;
        text-align: right;
    }
}

.title,
.created {
    text-align: left;
}

.search {
    margin-bottom: 10px;
}

input {
    max-width: 70%;
    border-bottom: 1px solid #414141;
}

select {
    color: #414141;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;

    option {
        background-color: #414141;
        color: white;
    }
}

.select {
    display: flex;
    align-items: center;
}

.select::after {
    content: "▼";
    color: #414141;
    font-size: 12px;
    display: block;
}
