<div *ngIf="skills.length; else loading" class="container">
    <div class="search">
        <input type="text" placeholder="Найти скилл.." [(ngModel)]="searchStr">
        <div class="select">
            <select name="" id="" [(ngModel)]="isFinished">
                <option value="all">All todo</option>
                <option value="no">Opened</option>
                <option value="yes">Closed</option>
            </select>
        </div>
    </div>

    <table class="dashboard" cellspacing="0">
        <thead>
            <tr>
                <td>#</td>
                <td class="created not-matter">Created</td>
                <td class="not-matter">Type</td>
                <td>Status</td>
                <td class="title">title</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let skill of skills | searchSkill: searchStr | filterSkill: isFinished; let idx = index">
                <td>{{ idx + 1 }}</td>
                <td class="not-matter">{{ getCreated(skill.created) | date:' MM-dd-yyyy' }}</td>
                <td class="not-matter">{{ skill.type }}</td>
                <td>{{ skill.finished }}</td>
                <td class="title">{{ skill.title }}</td>
                <!-- TODO: добавить нормалые fa icons -->
                <td>
                    <button class="btn btn-link"
                            [routerLink]="['/admin', 'skill', skill.id, 'edit']">
                    Edit</button>
                    <a class="btn remove" (click)="remove(skill.id)">x</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #loading>
    <p>Идёт загрузка....</p>
</ng-template>
