i:hover {
    cursor: pointer;
}

.skills {
    justify-content: space-between;
}

.skill {
    display: block;
    padding: 10px;
    border: 1px solid rgb(194, 194, 194);
    box-shadow: 1px 1px 12px black;
    margin-bottom: 25px;
    box-sizing: border-box;
    min-width: 100%;
}

.preview {
    display: block;
    min-width: 100%;
    padding: 8px;
    // margin-bottom: 15px;
    color: white;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    z-index: 100;
}

.opened .preview {
    background-color: #375283;
}

.closed .preview {
    background-color: #46883d;
}

.opened, .closed {
    display: block;
    width: 35%;
    box-sizing: border-box;
}