i:hover {
    cursor: pointer;
}

.skills {
    justify-content: space-between;
}

.skill {
    display: block;
    padding: 10px;
    border: 1px solid rgb(194, 194, 194);
    box-shadow: 1px 1px 12px black;
    margin-bottom: 25px;
    box-sizing: border-box;
    min-width: 100%;
}

.preview {
    display: block;
    min-width: 100%;
    padding: 8px;
    // margin-bottom: 15px;
    color: white;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    z-index: 100;
}

.opened .preview {
    background-color: #375283;
}

.closed .preview {
    background-color: #46883d;
}

.opened, .closed {
    display: block;
    width: 35%;
    box-sizing: border-box;
}

footer {
    display: block;
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #414141;
    font-weight: 600;
    color: white;

    .container {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
    }
    
    span {
        display: inline-block;
    }

    i {
        color: white;
        text-align: left;
        display: inline-block;
        margin-left:10px;
        font-size: 20px;

        &:hover {
            color: rgb(167, 167, 167);
        }
    }
}

@media screen and (max-width: 600px) {
    footer {
        position: relative;
    }

    .skills {
        flex-direction: column;
    }

    .opened, .closed {
        width: 90%;
    }
}