<div class="container">
    <h1>Road to middle</h1>

    <div class="wrapper">
        <div *ngIf="skills$ | async as skills" class="skills">
            <div class="skill" *ngFor="let skill of skills">
                <div class="title">
                    <h2 [ngStyle]="{'text-decoration': skill.finished ? 'line-through' : 'none'}">{{ skill.title }}</h2>
                </div>

                <div class="created">{{ getCreated(skill.created) | date:' hh:mm:ss MM-dd-yyyy' }}</div>
                <div class="desc" *ngIf="!allDesc" (click)="allDesc = !allDesc">{{ getDescription(skill.description) }}</div>
                <div class="desc" *ngIf="allDesc" (click)="allDesc = !allDesc">{{ getDescription(skill.description, true) }}</div>
                <div class="approves">
                    <div class="link" *ngIf="skill.link_approve_first"><a href="{{ skill.link_approve_first }}">{{ skill.link_approve_first }}</a></div>
                    <div class="link" *ngIf="skill.link_approve_second"><a href="{{ skill.link_approve_second }}">{{ skill.link_approve_first }}</a></div>
                    <div class="link read-only" *ngIf="!skill.link_approve_first">None</div>
                    <div class="link read-only" *ngIf="!skill.link_approve_second">None</div>
                    <div [ngClass]="{
                        'finished': skill.finished,
                        'not-finished': !skill.finished
                    }">{{ isComplete(skill.finished) }}</div>
                </div>
                <div class="footer">
                    <span class="author">{{ skill.author }}</span>
                </div>

            </div>
        </div>
    </div>
</div>