<div class="container">
    <h1>Road to middle</h1>
    <div class="search">
        <input type="text" placeholder="search" [(ngModel)]="searchStr">
        <!-- <input type="checkbox" [(ngModel)]="isFinished" id="fin"> -->
        <select name="" id="" [(ngModel)]="isFinished">
            <option value="all">All todo</option>
            <option value="no">Opened</option>
            <option value="yes">Closed</option>
        </select>
    </div>

    <div class="wrapper">
        <div *ngIf="skills$ | async as skills" class="skills">
            <app-skill class="skill"
                       *ngFor="let skill of skills | searchSkill: searchStr | filterSkill: isFinished"
                       [skill]="skill"></app-skill>
        </div>
    </div>
</div>